.home-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-image {
  width: 55px;
  height: 32px;
  object-fit: cover;
  margin-right: 14px;
}
.home-hero {
  height: 697px;
}
.home-max-width {
  height: 699px;
  align-items: center;
}
.home-content {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-subtitle {
  color: var(--dl-color-scheme-orange100);
  margin-bottom: var(--dl-space-space-unit);
}
.home-title {
  color: var(--dl-color-scheme-lightgreen);
  width: 512px;
  height: 120px;
  font-size: 52px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 13px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none; 
}
.home-description {
  color: var(--dl-color-scheme-white);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-hero-image {
  flex: 1;
  max-width: 550px;
  object-fit: cover;
  border-radius: 50%;
}
a{
  text-decoration: none;
}
@media(max-width: 991px) {
  .home-content {
    width: 512px;
    height: 440px;
    margin-right: var(--dl-space-space-unit);
  }
  .home-hero-image {
    margin-bottom: 0px;
  }
  .home-image {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-max-width {
    flex-direction: column;
  }
}
.pacmanimg{
  width: 60px;
  height: 60px;
  margin-top: 0%;
}
.Typewriter__cursor{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none; 
  animation: none;
}
.Typewriter__wrapper{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none; 
}
@media(max-width: 767px) {
  .home-max-width {
    flex-direction: column-reverse;
  }
  .home-content {
    width: 100%;
    height: 308px;
    margin-right: 0px;
  }
  .home-subtitle {
    text-align: center;
  }
  .home-hero-image {
    width: 315px;
    height: 372px;
  }
  .home-content1 {
    width: 100%;
    margin-right: 0px;
  }
}
@media(max-width: 479px){
  .home-content {
    height: 273px;
  }
  .home-subtitle {
    color: var(--dl-color-scheme-orange100);
    align-self: center;
  }
  .home-title {
    color: var(--dl-color-scheme-lightgreen);
    width: 431px;
    height: 97px;
    font-size: 35px;
    align-self: flex-end;
    font-style: normal;
    font-family: Urbanist;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
  }
  .home-description {
    color: var(--dl-color-scheme-white);
    font-size: 18px;
    align-self: flex-start;
    line-height: 1.5;
    text-align: center;
  }
  .home-hero-image {
    width: 376px;
    height: 326px;
    margin-top: 0px;
    padding-top: 6px;
    border-radius: var(--dl-radius-radius-radius16);
  }
}
